@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add these styles to the end of the file */
@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll linear infinite;
}